@import "../../style/common.scss";

.classify {
  @include flexCenter;
  width: 100vw;
  height: 100vh;
  .classifyList {
    @include flexCenter;
    flex-wrap: wrap;
    padding-top: 40px;
    .classifyItem {
      width: 260px;
      height: 200px;
      background: rgba(200, 200, 200, 0.2);
      border-radius: 10px;
      @include flexCenter;
      flex-direction: column;
      font-size: 28px;
      color: #333;
      margin: 20px;
      //box-shadow: ;
      .icon {
        width: 64px;
        height: 64px;
        margin-bottom: 16px;
      }
    }
  }
  .barrageInput {
    border-bottom: 1px solid #eeeeee;
  }
}
