@import "../../../style/common.scss";


.editBarrage {
  padding: 24px;
  .title {
    color: #333333;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .colorShow {
    width: 36px;
    height: 36px;
    margin-left: 20px;
    margin-right: 8px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
  }
  .colorList {
    min-height: 160px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    .colorItem {
      width: 36px;
      height: 36px;
      border: 1px solid #eeeeee;
      border-radius: 8px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .barrageInput {
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
    margin-bottom: 32px;
  }
  .confirm {
    margin-top: 80px;
  }
  .barrageType {
    display: flex;
    align-items: center;
    :first-child {
      margin-right: 32px;
      color: #333333;
      font-size: 32;
    }
  }
}

