@import "src/style/common";

page {
  background: #f9f9f9;
}
.qrcode {
  padding: 32px;
  .card {
    padding: 24px;
    border-radius: 16px;
    background: #FFFFFF;
    margin-bottom: 16px;
  }
  .codeWrap {
    @include flexCenter;
    #qrcode {
      width: 300Px;
      height: 300Px;
    }
  }
  .bomBtn {
    padding: 16px 24px;
    .btn {
      height: 88px;
      background: linear-gradient(90deg, #FF2956 0%, #FF310D 100%);
      border-radius: 44px;
      @include flexCenter;
      font-size: 32px;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 44px;
    }
  }
}